<launch>
    <arg name="joy_dev" default="/dev/input/js2" />
    <arg name="joy_node" default="true" />
    <arg name="ypspur" default="false" />
    <arg name="robot_tf" default="true" />
    <!-- [speego] or [beego] or [M1] -->
    <arg name="robot_type" default="$(find starter)/config/speego.param" />
    <arg name="rviz_config" default="$(find bullet)/rviz/bullet_launcher.rviz" />

    <arg name="robot_name" default="Robot1" />
    <arg name="opponent_robot_name" default="Robot2" />
    <arg name="initial_x" default="0.0" />
    <arg name="initial_y" default="0.0" />
    <arg name="initial_th" default="0.0" />

    <group ns="$(arg robot_name)">

        <group if="$(arg ypspur)">
            <node pkg="ypspur_ros" type="ypspur_ros" name="ypspur_ros">
                <param name="param_file" value="$(arg robot_type)" />
                <param name="port" value="/dev/serial/by-id/usb-T-frog_project_T-frog_Driver-if00" />
                <param name="cmd_vel_expire" value="5.0" />
                <param name="odom_id" value="$(arg robot_name)/odom" />
                <param name="base_link_id" value="$(arg robot_name)/base_link" />
            </node>
            <node pkg="joy_controller" type="joy_controller" name="joy_controller" output="screen">
                <param name="max_linear_vel" value="0.5" />
                <param name="max_angular_vel" value="1.0" />
            </node>
            <node name="map_to_odom" pkg="tf2_ros" type="static_transform_publisher" args="$(arg initial_x) $(arg initial_y) 0 0 0 $(arg initial_th) /map $(arg robot_name)/odom" />
        </group>

        <group if="$(arg joy_node)">
            <node name="joy_node" pkg="joy" type="joy_node" output="screen" if="$(arg joy_node)">
                <param name="dev" value="$(arg joy_dev)" />
            </node>
        </group>

        <node name="bullet_launcher" pkg="bullet" type="bullet_launcher" output="screen">
            <param name="robot_frame_id" value="$(arg robot_name)/base_link" />
            <param name="bullet_speed" value="1.0" />
            <param name="bullet_lifetime" value="10.0" />
        </node>

        <node name="death_judge" pkg="bullet" type="death_judge" output="screen">
            <param name="robot_frame_id" value="$(arg robot_name)/base_link" />
            <remap from="bullets" to="/$(arg opponent_robot_name)/bullets" />
        </node>

        <group if="$(arg robot_tf)">
            <node name="map_to_odom" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 0 0 map $(arg robot_name)/odom" />
            <node name="robot_tf_broadcaster" pkg="joy_controller" type="robot_tf_broadcaster" output="screen">
                <param name="robot_frame_id" value="$(arg robot_name)/base_link" />
                <param name="odom_frame_id" value="$(arg robot_name)/odom" />
                <param name="initial_x" value="$(arg initial_x)" />
                <param name="initial_y" value="$(arg initial_y)" />
                <param name="initial_th" value="$(arg initial_th)" />
            </node>
            <node name="joy_controller" pkg="joy_controller" type="joy_controller" output="screen">
                <param name="max_linear_vel" value="0.5" />
                <param name="max_angular_vel" value="1.0" />
                <remap from="ypspur_ros/cmd_vel" to="cmd_vel" />
            </node>
        </group>

    </group>

    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config)" /> -->
</launch>